input[type="checkbox"].stupid-switch {
  position: absolute;
  margin: 8px 0 0 16px;
}

input[type="checkbox"].stupid-switch + label:before {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 40px; /* x*5 */
    height: 24px; /* x*3 */
    border-radius: 16px; /* x*2 */
    background: #fff;
    border: 1px solid #d9d9d9;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

input.stupid-switch.exclude {

}

input.stupid-switch.deselect {

}

input.stupid-switch.include {

}

input.stupid-switch.idle {

}