<input type="checkbox" name="exclude" class="stupid-switch exclude" />
<label class="stupid-switch-label">exclude</label>
<br>


<input type="checkbox" name="deselect" class="stupid-switch deselect" />
<label class="stupid-switch-label">deselect</label>
<br>


<input type="checkbox" name="include" class="stupid-switch include" />
<label class="stupid-switch-label">include</label>
<br>


<input type="checkbox" name="idle" class="stupid-switch idle" />
<label>idle</label>
<br>
{{!-- <label for="checkbox1" class="checkbox-label" data-off="off" data-on="on"></label> --}}